﻿
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Profil uživatele</h2>

<p>Zde by měl být zobrazený profil uživatele - vypsané údaje, které zadá při registraci. Snad to nějak propojíme s databází.  </p>


