﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Muj nadpis</h1>
    <h2>Tohle je druhej nadpis</h2>
    <p>A tady je <a href="https://www.ua-store.cz/"> odkaz</a> na under armour.</p>
   
</body>
</html>
